version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
    container_name: wdpai-web
    ports:
      - "8080:80"
    volumes:
      - .:/app/
    networks:
      - pg-network
    depends_on:
      - db
      - php
  
  db:
    build:
      context: .
      dockerfile: docker/db/Dockerfile
    container_name: wdpai-db
    environment:
      POSTGRES_DB: wdpai_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - pg-data:/var/lib/postgresql/data
    networks:
      - pg-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: wdpai-php
    volumes:
      - .:/app
    networks:
      - pg-network
    depends_on:
      db:
        condition: service_healthy
  
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: wdpai-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'
    ports:
      - "5050:80"
    volumes:
      - pgadmin-data:/var/lib/pgadmin
      - ./docker/pgadmin/servers.json:/pgadmin4/servers.json:ro
      - ./docker/pgadmin/pgpass:/tmp/pgpassfile:ro
    networks:
      - pg-network
    depends_on:
      - db
  
networks:
  pg-network:
    driver: bridge

volumes:
  pg-data:
  pgadmin-data:
