<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Zmieniony import czcionki na JERSEY 10 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="public/styles/login.css">
</head>
<body>
    <form action="login" method="POST">
        <h1 id="title">EVENT.IO</h1>

        <?php if(isset($messages)){ ?>
            <div style="color: red; text-align: center; margin-bottom: 10px; font-family: 'Jersey 10', sans-serif; font-size: 1.5rem;">
                <?= $messages; ?>
            </div>
        <?php } ?>

        <input type="hidden" name="csrf_token" value="<?= $csrf_token ?? '' ?>">
        <input name="email" type="email" placeholder="Podaj email">
        <input name="password" type="password" placeholder="Podaj hasło">
        <button type="submit">LOGIN</button>
        <a href="register" style="color: white; text-decoration: none; margin-top: 10px; font-family: 'Jersey 10', sans-serif;">
    Nie masz konta? Zarejestruj się
</a>

    </form>
</body>
</html>