/* RESET & BOX SIZING */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Ustawienia ogólne i Czarne Tło */
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: sans-serif;
    position: relative;
    overflow: hidden;

    /* Tło z przyciemnieniem */
    background-image: linear-gradient(
            rgba(0,0,0,0.6),  /* przyciemnienie */
            rgba(0,0,0,0.6)
        ),
        url('https://images.pexels.com/photos/2263436/pexels-photo-2263436.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Stylizacja formularza - prawy dolny róg */
form {
    position: absolute;
    bottom: 10%;
    right: 10%;
    
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 350px;
    
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
}

/* Stylizacja H1 (LOGO) - font Jersey 10 */
#title {
    position: fixed; /* Wyciągamy napis do lewego górnego rogu */
    top: 30px;
    left: 40px;
    
    margin: 0;
    color: white;
    
    /* Nowa czcionka */
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    /* Jersey 10 jest dość wąska, więc dajemy większy rozmiar */
    font-size: 6rem; 
    text-transform: uppercase;
}

/* Stylizacja pól input */
input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 0;
    
    background-color: #dcdcdc;
    font-size: 1.2rem;
    color: #333;
    outline: none;
    font-family: sans-serif; /* W polach zostawiamy czytelną czcionkę */
}

input::placeholder {
    color: #666;
}

input:focus {
    background-color: #fff;
}

/* Stylizacja przycisku - font Jersey 10 */
button {
    width: 100%;
    padding: 10px; /* Nieco mniejszy padding, bo font jest wysoki */
    border: none;
    border-radius: 0;
    
    background-color: #dcdcdc;
    color: black;
    
    /* Nowa czcionka na przycisku */
    font-family: "Jersey 10", sans-serif;
    font-size: 2.5rem; /* Powiększone dla lepszego efektu */
    
    cursor: pointer;
    transition: background 0.2s;
    text-transform: uppercase;
    margin-top: 10px;
}

button:hover {
    background-color: #ffffff;
    transform: none;
    box-shadow: none;
}